common-xml/52n-ogc-schema/src/main/resources/META-INF/xml/wps/1.0.0/wpsProfileProcess_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:wps="http://www.opengis.net/wps/1.0.0" targetNamespace="http://www.opengis.net/wps/1.0.0" elementFormDefault="qualified" xml:lang="en" version="1.0.0.3">
	<annotation>
		<appinfo>$Id: wpsProfileProcess_response.xsd 2014-12-08 $</appinfo>
	<documentation>
			<description>DRAFT</description>
			<copyright>
			</copyright>
		</documentation>
	</annotation>
	<!-- =============================================================
		includes and imports
	============================================================== -->
	<include schemaLocation="wpsAll.xsd"/>
	<include schemaLocation="common/ResponseBaseType.xsd"/>
	<include schemaLocation="common/ProcessBriefType.xsd"/>
	<import namespace="http://www.opengis.net/ows/1.1" schemaLocation="http://schemas.opengis.net/ows/1.1.0/owsAll.xsd"/>
	<!-- =============================================================
		elements and types
	============================================================== -->
	<element name="ProfileProcessResponse">
		<complexType>
			<complexContent>
				<extension base="wps:ResponseBaseType">
					<sequence>
						<element name="Process" type="wps:ProcessBriefType">
							<annotation>
								<documentation>Process description from the ProcessOfferings section of the GetCapabilities response. </documentation>
							</annotation>
						</element>
						<element name="Status" type="wps:StatusType">
							<annotation>
								<documentation>Execution status of this process. </documentation>
							</annotation>
						</element>
						<element name="DataInputs" type="wps:DataInputsType" minOccurs="0">
							<annotation>
								<documentation></documentation>
							</annotation>
						</element> 
						<element name="OutputDefinitions" type="wps:OutputDefinitionsType" minOccurs="0">
							<annotation>
								<documentation>Complete list of Output data types that were requested as part of the Execute request. This element shall be omitted unless the lineage attribute of the execute request is set to "true".</documentation>
							</annotation>
						</element>
						<element name="ProcessOutputs" minOccurs="0">
							<annotation>
								<documentation>List of values of the Process output parameters. Normally there would be at least one output when the process has completed successfully. If the process has not finished executing, the implementer can choose to include whatever final results are ready at the time the Execute response is provided. If the reference locations of outputs are known in advance, these URLs may be provided before they are populated. </documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="Output" type="wps:OutputDataType" maxOccurs="unbounded">
										<annotation>
											<documentation>Unordered list of values of all the outputs produced by this process. It is not necessary to include an output until the Status is ProcessSucceeded. </documentation>
										</annotation>
									</element>
								</sequence>
							</complexType>
						</element>
						<element name="Profiles">
							<annotation>
								<documentation>List of values of the measured parts of the process. These can be runtime measurements or any other measurements. </documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="Profile" type="wps:ProfileType" maxOccurs="unbounded">
										<annotation>
											<documentation></documentation>
										</annotation>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
					<attribute name="serviceInstance" type="anyURI" use="required">
						<annotation>
							<documentation>This attribute shall contain the GetCapabilities URL of the WPS service which was invoked</documentation>
						</annotation>
					</attribute>
					<attribute name="statusLocation" type="anyURI" use="optional">
						<annotation>
							<documentation>The URL referencing the location from which the ExecuteResponse can be retrieved. If "status" is "true" in the Execute request, the ExecuteResponse should also be found here as soon as the process returns the initial response to the client. It should persist at this location as long as the outputs are accessible from the server. The outputs may be stored for as long as the implementer of the server decides. If the process takes a long time, this URL can be repopulated on an ongoing basis in order to keep the client updated on progress. Before the process has succeeded, the ExecuteResponse contains information about the status of the process, including whether or not processing has started, and the percentage completed. It may also optionally contain the inputs and any ProcessStartedType interim results. When the process has succeeded, the ExecuteResponse found at this URL shall contain the output values or references to them. </documentation>
						</annotation>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="ProfileType">
		<annotation>
			<documentation>Profile of a process or part of it especially regarding runtime. Parts can be parsing inputs, subprocesses, generating outputs or any other part. </documentation>
		</annotation>
		<complexContent>
			<extension base="wps:DescriptionType">
				<annotation>
					<documentation>In this use, the DescriptionType shall indentify and describe this profiled process or part of the process. </documentation>
				</annotation>
				<choice>
					<sequence>
						<element name="RuntimeInfo" type="wps:RuntimeInfoType"/>
						<element name="ArbitraryInfo" type="wps:ArbitraryInfoType" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
					<sequence>
						<element name="ArbitraryInfo" type="wps:ArbitraryInfoType" maxOccurs="unbounded"/>
						<element name="RuntimeInfo" type="wps:RuntimeInfoType" minOccurs="0"/>
					</sequence>
				</choice>
			</extension>
		</complexContent>
	</complexType>
		<complexType name="RuntimeInfoType">
		<annotation>
			<documentation>A total or partial runtime of a process or part of the process. </documentation>
		</annotation>
				<sequence>
					<element name="Starttime" type="dateTime"/>
					<element name="Runtime" type="duration"/>
					<element name="Description" type="string" minOccurs="0"/>
				</sequence>
	</complexType>
	<complexType name="ArbitraryInfoType">
		<annotation>
			<documentation>Here any other measurement data can be placed. </documentation>
		</annotation>
				<sequence>
					<element name="Value" type="string"/>
					<element name="Unit" type="string"/>
					<element name="Description" type="string" minOccurs="0"/>
				</sequence>
	</complexType>
</schema>
